*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#050b18;
    color:white;
    font-family:Arial, sans-serif;
}

header{
    text-align:center;
    padding:30px;
    background:#081427;
}

h1{
    color:#00d4ff;
}

.hero{
    text-align:center;
    padding:80px 20px;
}

button{
    margin-top:20px;
    padding:12px 25px;
    border:none;
    border-radius:8px;
    background:#00d4ff;
    color:black;
    font-weight:bold;
    cursor:pointer;
}

.card{
    width:80%;
    max-width:500px;
    margin:30px auto;
    background:#0f1d35;
    padding:25px;
    border-radius:12px;
}
